<div class="container">
    <div class="container-fluid">
    <flow-init flow-files-submitted="$flow.upload()">

        <div class="page-header">
            <h1>
                <span>Crea un nuovo album</span>
                <button type="button" ng-click="save($flow)" ng-hide="myForm.$invalid" class="btn btn-success">Salva album</button></h1>
        </div>
        <div class="row">
            <div class="">
                <form name="myForm" class="form">
                    <div class="form-group">
                        <label for="album-name">Nome del nuovo album: </label>
                        <input maxlength="35" type="text" id ="album-name" class="form-control" ng-model="album.name" required/>
                    </div>
                </form>
            </div>
            <div class="">
                <div class="">
                    <h4><span>Immagini aggiunte: {{$flow.files.length}}</span></h4>
                    <h4><span ng-show="album.name">Nome album: {{album.name}}</span></h4>
                </div>
            </div>
        </div>

        <div class="row row-padding">
            <span class="btn btn-primary" flow-btn>Aggiungi foto</span>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <div class="text-center">Miniatura</div>
                    </th>
                    <th>
                        <div class="text-center">Nome</div>
                    </th>
                    <th>
                        <div class="text-center">Tipo</div>
                    </th>
                    <th>
                        <div class="text-center">Dimensione</div>
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tr ng-repeat="file in $flow.files">
                    <td>
                        <div class="thumbnail">
                            <img flow-img="$flow.files[$index]">
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <span>{{$flow.files[$index].name}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <span>{{$flow.files[$index].getExtension()}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            <span>{{$flow.files[$index].size}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}">
                                <span class="sr-only ng-binding">1% Complete</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </flow-init>
    </div>
</div>