<div class="container">
    <div class="page-header">
        <h1>Aggiungi un evento</h1>
    </div>
    <div class="row row-padding">
        <button class="btn btn-success" ng-click="save()">Salva</button>
    </div>
    <div class="row row-padding">
        <div class="form-group">
            <label for="event-name">Nome Evento</label>
            <input type="text" id="event-name" class="form-control" ng-model="event.name" placeholder="Nome evento"/>
        </div>
        <div class="form-group">
            <label for="event-description">Nome Evento</label>
            <textarea id="event-description" class="form-control" ng-model="event.description" placeholder="Descrizione evento"/>
        </div>
        <div class="form-group">
            <label for="event-location">Nome Evento</label>
            <input id="event-location" class="form-control" ng-model="event.location" placeholder="Luogo evento"/>
        </div>

    </div>
</div>